.item{
    background-color: #E8E8E8; 
    border-style: solid;
}
.chosen{
      background-color: coral;  
}

.buttonContainer{
    float: right;
    width: 100%;
}

h4 {
   font-size: 1rem; 
}

.h100{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh}
    
.row{
    padding: 8px;
}

.chooseListAndNumber{
    border-style: solid;
    border-colour: #E8E8E8;
    padding:8px;
}

.indent{
    margin-top: 4px;
    margin-left: 16px;
}

.center{
    text-align: center;
}

hintBtn{
    justify-content: center;
    width:33%;
   
}